.deploy-scroll-container {
    height: 100%;
    min-height: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.deploy-page {
    gap: 10px;
}

.deploy-tabs {
    background: white;
    border-radius: 10px;
}

.deploy-bottom-row {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 500px;
    width: 100%;
    margin-top: 8px;
}
