#input-json-editor {
    height: 700px;
}

#output-json-editor {
    height: 700px;
}

.json-editor-container { /* applies to all editor instances with this class */
    border: 0.5px solid;
    border-radius: 10px;
    padding: 5px;
}
